body{
  background-color: #1c3047;
  font-family: "Arial Black"
}

h1{
  color: #dd4e00;
  padding-left: 5%;
  font-size: 45pt;
}

p{
  color: white;
}

.navbar{
    background-color: #252525;
    display: flex;
    align-items: center;
    font-size: calc(10px + 2vmin);
  }

  .navItem-text{
    color:#eea804;
    border: 0px;
    padding: 0px;
    margin:0px;
  }

  .card-music{
    margin: 5px;
    background-color: black;
    border-left: 10px solid #eea804;
  }

  .h3-song-title{
    color: white;
  }
  
  .h3-song-album{
    color: #A9A9A9;
  }

  .a-song{
    text-decoration: none;
    color:#f9d400;
}

 .a-song:hover{
    color:#eea804;
}

  .card-home{
    width: 970px;
  }
  .card-home:hover .card-img,
  .card-home:focus .card-img {
    transform: scale(1.02);
    opacity:0.5;
  }
  
  .card-home:hover .card-img-overlay{
      color:#eea804;
  }

  .card-img-home {
    width: 100%;
    height: 100%;
    background-color: black; /* fallback color */
    background-position: center;
    background-size: cover;
    transition:all 0.3s ease-in-out;
    opacity:1;
  }


  


